/*
*
*/
#mytable {
		border-collapse:collapse;
		background:#EFF4FB url(teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
                width:100%;
                
                
}

#mytable td,#mytable th {
		padding:5px;
}
caption {
		padding: 0 0 .5em 0;
		text-align: right;
		font-size: 1.4em;
		font-weight: bold;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

#mytable a {
		color:#950000;
		text-decoration:none;
}

#mytable a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

#mytable a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

#mytable thead th, #mytable tfoot th, #mytable tfoot td {
		background:#333 url(llsh.gif) repeat-x;
		color:#fff;
                text-align:center;
                font:1.3em/155% 'Trebuchet MS',helvetica,arial,verdana;
}

#mytable tfoot td {
                
		/* text-align:right;*/
}

/* =body
----------------------------------------------- */

#mytable tbody th,#mytable tbody td {
		border-bottom: dotted 1px #333;
}

#mytable tbody th {
		white-space: nowrap;
}

#mytable tbody th a {
		color:#333;
}

.odd {}

#mytable tbody tr:hover {
		background:#fafafa
}
